@import 'src/assets/styles/helpers/Helpers.Style.scss';
.filters-wrapper {
  @include d-flex-h-between;
  .filter-section {
    @include d-inline-flex;
    flex-wrap: wrap;
    .filter-item {
      @include d-inline-flex;
      padding: 0 0.5rem;
      margin-bottom: 1rem;
      max-width: 308px;
      @include tablets-max {
        max-width: 100%;
        width: 100%;
      }
    }
    .btn-wrapper {
      margin: 1.25rem 0.5rem 1rem;
      @include phones-max {
        margin-top: 0;
      }
    }
  }
  @include phones-max {
    flex-wrap: wrap;
  }
}
