$c-white: #ffffff;
$c-black: #000000;
$c-black-light: #020311;
$c-primary: #10489b;
$c-blue: #0066cc;
$c-blue-light: #3e7192;
$c-blue-lighter: #5fb7ff;
$c-blue-lightest: #b6d2ff;
$c-secondary: #ecf0f9;
$c-gray: #838383;
$c-gray-light: #dbdcdd;
$c-gray-lighter: #ebeef0;
$c-gray-lightest: #fefefe;
$c-error: #f44336;
